<div class="content">

    <div class="div">
      <h3 class="h"><span> 5. </span> What is the best way to contact the remote support during the event?
      </h3>
      &nbsp;
    </div>&nbsp;
    <section class="container">
      <mat-card class="example-card">
        <mat-card-header>

            <button (click)="setPoints(8)">The message in the Interpreting chat</button>

        </mat-card-header>
        <img id="img1" src="assets/partnerChat.png" alt="">
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
            <button (click)="setPoints(0)">The message in the Event chat</button>
        </mat-card-header>
        <img id="img2" src="assets/eventChat.png" alt="">
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
            <button (click)="setPoints(0)">The message on the Team Viewer chat</button>
        </mat-card-header>
        <img id="img3" src="assets/teamViewerChat.png" alt="">
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
            <button (click)="setPoints(0)">The message on WhatsApp</button>
        </mat-card-header>
        <img id="img4" src="assets/whatsAppChat.png" alt="">
      </mat-card>
    </section>

  </div>
