<div class="content">

  <div class="div">
      <h3 class="h"><span> 6. </span> The speaker's volume is too high for you. How will you adjust it/what will you click on?
      </h3>

      </div>&nbsp;
      <div class="container">
      <img src="assets/question1.PNG" alt="Snow" style="width:100%">
      <button (click)="setPoints(0)" id="btn1" class="btn"><img src="assets/ral.png" alt="no pic"></button>
      <button (click)="setPoints(6)" id="btn2" class="btn"></button>
      <button (click)="setPoints(0)" id="btn3" class="btn" style="overflow-y:hidden"><i class="fas fa-cog"></i></button>
      <button (click)="setPoints(0)" id="btn4" class="btn"></button>
  </div>

</div>
