<div class="content">

    <div class="div">
        <h3 class="h"><span> 4. </span> The sound starts cutting/ the video freezing during the event. Your partner has just started interpreting
          so you decide to solve the issue by yourself. What will you click on?
        </h3>

        </div>&nbsp;
        <div class="container">
        <img src="assets/int5.png" alt="Snow" style="width:100%">
        <button (click)="setPoints(6)" id="btn1" class="btn"><img src="assets/ral.png" alt="no pic"></button>
        <button (click)="setPoints(0)" id="btn2" class="btn"> <img src="assets/connection.png" alt="no pic"></button>
        <button (click)="setPoints(0)" id="btn3" class="btn" style="overflow-y:hidden"><i class="fas fa-cog"></i></button>
        <button (click)="setPoints(0)" id="btn4" class="btn"><img src="assets/logout.png"></button>
    </div>

</div>
