<div class="content">

  <div class="div">
    <h3 class="h"><span> 13. </span> 	What is the browser that you should open the platform on?
    </h3>
    &nbsp;
  </div>&nbsp;
  <section class="container">
    <mat-card class="example-card">
      <mat-card-header>

          <button (click)="setPoints(6)">Google Chrome</button>

      </mat-card-header>
      <img id="img1" src="assets/chrome.png" alt="">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
          <button (click)="setPoints(0)">Mozilla</button>
      </mat-card-header>
      <img id="img2" src="assets/mozilla.png" alt="">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
          <button (click)="setPoints(0)">Internet Explorer</button>
      </mat-card-header>
      <img id="img3" src="assets/explorer.png" alt="">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
          <button (click)="setPoints(0)">Opera</button>
      </mat-card-header>
      <img id="img4" src="assets/opera.png" alt="">
    </mat-card>
  </section>

</div>
