<div class="card">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="example-full-width">
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="firstName" required>
        <mat-error *ngIf="firstName==''">Please enter fist name</mat-error>
      </mat-form-field>
      <br /><br />
      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="lastName" required>
        <mat-error *ngIf="lastName==''">Please enter last name</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!firstName || !lastName" mat-button (click)="login()" class="btn">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
