<div class="content">

  <div class="div">
    <h3 class="h"><span> 2. </span> The speaker speaking the language you do not understand comes up to the stage. What will
      you click on/change?
    </h3>
  </div>&nbsp;
  <div class="container">
    <img src="assets/question1.PNG" alt="Snow" style="width:100%">
    <button (click)="setPoints(6)" id="btn1" class="btn">English</button>
    <button (click)="setPoints(0)" id="btn2" class="btn">English</button>
    <mat-icon (click)="setPoints(0)" id="btn3" class="btn" style="overflow-y:hidden">volume_mute</mat-icon>
    <mat-icon (click)="setPoints(0)" id="btn4" class="btn">translate</mat-icon>
  </div>

</div>
