<div class="content">

  <div class="div">
    <h3 class="h"><span> 3. </span> What is the proper way to mute/unmute on the platform?
    </h3>
    &nbsp;
  </div>&nbsp;
  <section class="container">
    <mat-card class="example-card">
      <mat-card-header>

          <button (click)="setPoints(0)">Changing the sound settings on your PC</button>

      </mat-card-header>
      <img id="img1" src="assets/recordings.png" alt="">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
          <button (click)="setPoints(0)">Pressing/ clicking on the microphone button on Yeti microphone</button>
      </mat-card-header>
      <img id="img2" src="assets/yeti1.png" alt="">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
          <button (click)="setPoints(6)">Pressing/ clicking on the microphone button on the platform</button>
      </mat-card-header>
      <img id="img3" src="assets/muteMic.PNG" alt="">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
          <button (click)="setPoints(0)">Pressing the cough button on the platform</button>
      </mat-card-header>
      <img id="img4" src="assets/cough.PNG" alt="">
    </mat-card>
  </section>

</div>
