.content{

  min-height: 88vh;
  margin: 3%;
  background: #eaeaea;
  border-radius: 5px;
  position: absolute;
  border: 2px white solid;
  min-width: 94%;
}
.div {
  top: 10px;
  color: #333;
  display: inline-block;
  text-align: justify;
  background: #eaeaea;
  margin-left: auto;
  margin-right: auto;
}

.h {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

  .container {
    padding: 2em 2em;
    position: relative;
    width: 100%;
    min-height: 600px;
    }



  .example-card:first-child {
    width: 400px;
    margin-left: 125px;
    margin-bottom: 50px;
    height: 525px;
    float: left;
    display: inline-block;
    position: relative;
  }

  .example-card:last-child{
    width: 400px;
    margin-right: 200px;
    margin-bottom: 50px;
    height: 525px;
    float: right;
    display: inline-block;
    position: relative;
  }

  #img1{
    margin-top: 10px;
  }

  #img3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }

  #img4{
    border-radius: 90px;
    margin-top: 80px;
  }

  #img2{
    margin-top: 60px;
    border-radius: 2px;
    height: 65%;
    width: 93%;
    margin-left: auto;
    margin-right: auto;

  }

  button{
    width: 100%;
    margin-left: -1.5em;
    text-decoration: none;
    padding: 1em 1em;
    background: #eaeaea;
    color: #333;
    border: #333 1px solid;

    z-index: 5;
    font-size: 17px;
  }
  button:hover{
    background: #333;
    color: #fff;
    cursor: pointer;
  }
  h3 span{
    color: #f7833b;
  }
