.content{

  min-height: 88vh;
  margin: 3%;
  background: #eaeaea;

  border-radius: 5px;
  border: 2px white solid;
}

.div {
    top: 10px;
    color: #333;
    display: inline-block;
    text-align: justify;
    background: #eaeaea;
    margin-left: auto;
    margin-right: auto;
}

.h {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.container {
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 25px;
    position: relative;
  }

  .container img {
    width: 100%;
  }

  .container .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    color: #999;
    font-size: 17px;
    border: none;
    cursor: pointer;
    text-align: center;

  }

  .container .btn:hover {
    opacity: 5;
    border-radius: 5px;
    background: #fff;

  }

  .container #btn2 {
    top: 80px;
    left: 618px;
    width: 92px;
    height: 22px;
    border-radius: 50px;
    color: #666;
    border: 1px solid #666;
    font-size: 11px;

  }

  .container #btn1 {
    top: 80px;
    left: 141px;
    width: 94px;
    height: 22px;
    border-radius: 50px;
    color: #00b0ef;
    border: 1px solid #00b0ef;
    font-size: 11px;
  }

  .container #btn3 {
    padding: 0;
    top: 20px;
    right: 410px;
    width: 24px;
    height: 24px;
    color: #f78f00;
  }
  .container #btn4 {
    padding: 0;
    top:18px;
    right: 553px;
    width: 19px;
    height: 19px;

  }

  h3 span{
    color: #f7833b;
  }
