<div class="content">

  <div class="div">
    <h3 class="h"><span> 12. </span> Your power goes off and the computer shuts down. Your phone is up and running and has a decent Internet package available. What is the quickest way to continue working on the event?
    </h3>
    &nbsp;
  </div>&nbsp;
  <section class="container">
    <mat-card class="example-card">
      <mat-card-header>

          <button (click)="setPoints(8)">Open WhatsApp and wait for a support person to message you the token which you will use in the Interprefy app</button>

      </mat-card-header>
      <img id="img1" src="assets/notificationGif.gif" alt="notificationGif">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
          <button (click)="setPoints(0)">Call a support person via WhatsApp</button>
      </mat-card-header>
      <img id="img2" src="assets/voiceCallGif.gif" alt="voiceCallGif">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
          <button (click)="setPoints(0)">Send an email to your manager</button>
      </mat-card-header>
      <img id="img3" src="assets/gmailGif.gif" alt="">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
          <button (click)="setPoints(0)">Try to restart your computer</button>
      </mat-card-header>
      <img id="img4" src="assets/windowsUpdateGif.gif" alt="windowsUpdateGif">
    </mat-card>
  </section>

</div>

