<div class="content">

  <div class="div">
    <h3 class="h"><span> 10. </span> You want to see the presentation. Where is the presentation feed being shown?
    </h3>

  </div>&nbsp;
  <div class="container">
    <img src="assets/presentationAtVideo.PNG" alt="Snow" style="width:100%">
    <button (click)="setPoints(0)" id="btn1" class="btn"></button>
    <button (click)="setPoints(0)" id="btn2" class="btn"><i class="fas fa-cog"></i></button>
    <button (click)="setPoints(0)" id="btn3" class="btn"><img src="assets/full-screen.png" alt="no pic"></button>
    <button (click)="setPoints(6)" id="btn4" class="btn"></button>
  </div>

</div>
