
.content{

  min-height: 88vh;
  margin: 3%;
  background: #eaeaea;

  border-radius: 5px;
  border: 2px white solid;
}

.div {
    top: 10px;
    color: #f78f00;
    display: inline-block;
    text-align: justify;
    background: #eaeaea;
    margin-left: auto;
    margin-right: auto;
}

.h {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 30px;
    position: relative;

  }

  .container img {
    width: 100%;
  }

  .container .btn {
    position: absolute;

    opacity: 0;
    color: #999;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;

  }

  .container .btn:hover {
    opacity: 5;
    border-radius: 5px;
    background: #fff;

  }

  .container #btn2 {
    padding: 0;
    top: 6px;
    right: 308px;
    width: 22px;
    height: 22px;
    color: #f78f00;
  }

  .container #btn1 {
    padding: 0;
    bottom: 135px;
    right: 15px;
    width: 353px;
    height: 190px;
    border-radius: 2px;
    border: 2px solid #f78f00;
    background: transparent;
  }

  .container #btn3 {
    padding: 0;
    bottom: 177px;
    right: 377px;
    width: 25px;
    height: 26px;

    color: #f78f00;
  }
  .container #btn3:hover{
    background: white;
    border: 2px solid white;
    border-radius: 3px;
    background-blend-mode: soft-light;
  }

  .container #btn4 {
    padding: 0;
    bottom:72px;
    left: 162px;
    width: 146px;
    height: 84px;
    background: transparent;
    border: 2px solid #f78f00;
    border-radius: 2px;
  }

  h3 span{
    color: #333;
  }
