<div class="content">
  <div class="div">
  <h3 class="h"><span> 9. </span> You are doing the event that requires the both-way interpretation. Floor language becomes you main language of interpretation. What will you click on/change?
  </h3>
  </div>&nbsp;
  <div class="container">
          <img src="assets/video.PNG" alt="Snow" style="width:100%">
          <button (click)="setPoints(6)" id="btn1" class="btn">NOW</button>
          <button (click)="setPoints(6)" id="btn5" class="btn">LATER</button>
          <button (click)="setPoints(0)" id="btn2" class="btn">English</button>
          <button (click)="setPoints(0)" id="btn3" class="btn"><i class="fas fa-cog"></i></button>
          <button (click)="setPoints(0)" id="btn4" class="btn"> <img src="assets/microphone-black-shape.png" alt="no pic"></button>
  </div>
  </div>
