.content{

  min-height: 88vh;
  margin: 3%;
  background: #eaeaea;
  border-radius: 5px;
  border: 2px white solid;
}
.div {
  top: 10px;
  color: #333;
  display: inline-block;
  text-align: justify;
  background: #eaeaea;
  margin-left: auto;
  margin-right: auto;
}

.h {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.container {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 25px;
    position: relative;
  }

  .container img {
    width: 100%;
  }

  .container .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    color: #999;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;

  }

  .container .btn:hover {
    opacity: 5;
    border-radius: 5px;
    background: #fff;

  }

  .container #btn2 {
    top: 83px;
    left: 562px;
    width: 92.5px;
    height: 23.5px;
    border-radius: 50px;
    color: #666;
    border: 1px solid #666;
    font-size: 11px;

  }

  .container #btn1 {
    top: 83px;
    padding-bottom: 3px;
    font-weight: bold;
    right: 69px;
    width: 74px;
    height: 20px;
    border-radius: 50px;
    color: #fff;
    background: #00b050;
    font-size: 11px;
  }
  .container #btn5 {
    padding-bottom: 3px;
    font-weight: bold;
    top: 83px;
    right: -14px;
    width: 74px;
    height: 20px;
    border-radius: 50px;
    color: #fff;
    background: #00b050;
    font-size: 11px;
  }

  .container #btn3 {
    padding: 0;
    top: 21px;
    right: 342px;
    width: 22px;
    height: 22px;
    color: #f78f00;
    font-size: 18px;
  }
  .container #btn4 {
    padding: 10px;
    top:75px;
    right: 267px;
    width: 58px;
    height: 58px;
    background: #eaeaea;
    border-radius: 50%;
    border: 3px solid black;
  }

  h3 span{
    color: #f7833b;
  }
