  <!--Header-->

<header id="showcase" class="grid">

  <div class="bg-image"></div>
  <div class="content-wrap">
  <h1>Welcome to Interprefy CBL</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt culpa nisi quam harum itaque unde impedit quaerat voluptatem maxime?
  </p>
  <a href="#section-b" class="button">Read More</a>
</div>
</header>

<!--Body-->

<main id="main">
  <!--Section A -->
  <section id="section-a" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">About <a href="#section-a">Video</a> & <a href="#section-a" >Testing</a></h2>
      <div class="content-text">
      <p>
          Following test provides 15 Questions related to basic knowledge about Interprefy platform.
          You will have to read all the given answers and click over the correct answer.
          Once you clicked the answer you will be automatically redirected to the next question
          (just one chance to answer each question).
          You will see the results at the end of the test.
      </p>
      <p>Good luck from Interprefy team!</p>

    </div>
    <a href='/test/question1'ng build --prod class="button">Start test</a>
    </div>
  </section>

  <!--Section B-->
  <section id="section-b" class="grid">
    <ul>
      <li>
        <div class="card">
          <img src="https://images.pexels.com/photos/755416/pexels-photo-755416.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="">
          <div class="card-content">
            <h3 class="card-title">Interpreting</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis cumque minus laudantium labore itaque culpa laboriosam veniam maiores saepe ipsum.</p>
          </div>
        </div>
      </li>
      <li>
          <div class="card">
            <img src="https://images.pexels.com/photos/164933/pexels-photo-164933.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            <div class="card-content">
              <h3 class="card-title">Microphone Info</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis cumque minus laudantium labore itaque culpa laboriosam veniam maiores saepe ipsum.</p>
            </div>
          </div>
        </li>
    </ul>
  </section>

  <!--Section C-->

  <section id="section-c" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">We handle all of your interpreting needs</h2>
    </div>
  </section>

  <!--Section D-->

  <section id="section-d" class="grid">
    <div class="box">
      <h2 class="content-title">Contact Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sapiente provident cupiditate illo hic delectus ullam itaque atque qui nostrum?</p>
      <p>contact@interprefyinterpreting.test</p>
    </div>
    <div class="box">
      <h2 class="content-title">About Our Company</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, omnis iure laborum ratione dolorum obcaecati consequuntur voluptatibus, totam earum maiores reiciendis odit adipisci minima numquam itaque voluptate nam architecto. Tempora?</p>
    </div>
  </section>
</main>

<!-- Footer -->

<footer id="main-footer" class="grid">
  <div>Interprefy Testing Platform</div>
  <div>Project by <a href="https://interprefy.com/" target="_blank"> Interprefy </a></div>
</footer>
<router-outlet></router-outlet>

