  <!--Header-->

<header id="showcase" class="grid">

  <div class="bg-image"></div>
  <div class="content-wrap">
  <h1>Welcome to Interprefy platform test for Interpretors!</h1>
  <p>
   Read more about it bellow!
  </p>
  <a href="#section-b" class="button">Read More</a>
</div>
</header>

<!--Body-->

<main id="main">
  <!--Section A -->
  <section id="section-a" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">About <a href="#section-a">Video</a> & <a href="#section-a" >Testing</a></h2>
      <div class="content-text">
      <p>
        This  test will take you through most important functions on the platform necessary for delivering a perfect event. Please have in mind that you will have just 1 attempt to complete the test and just one attempt per question. This test requires using a laptop for completion, it requires certain parts of your keyboard to answer some of our questions.
        When you are ready select start and begin the test.
      </p>
      <p>We wish you good luck!</p>

    </div>
    <a href="test/question1" class="button">Start test</a>
    </div>
  </section>

  <!--Section B-->
  <section id="section-b" class="grid">
    <ul>
      <li>
        <div class="card">
          <img src="https://images.pexels.com/photos/755416/pexels-photo-755416.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="">
          <div class="card-content">
            <h3 class="card-title">Interprefy CBL</h3>
            <p>Interprefy Computer-based learning system is designed to provide interactive the most hands on and experience of our remote interpretation platform.
              Trough numerous videos and practical tests you can learn to use the platform and  prepare for future events.</p>
          </div>
        </div>
      </li>
      <li>
          <div class="card">
            <img src="https://images.pexels.com/photos/164933/pexels-photo-164933.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            <div class="card-content">
              <h3 class="card-title">Prerequisites for successful event</h3>
              <p>This section is about hardware requirements for a successful event.</p>
              <p>• Minimum 2Mbps download and upload per language channel
                • 8Mbps download is recommended for HD quality or if multiple video channels are received
                • Laptops: Core i5, 4GB RAM, windows 7 or higher;
                • Recommended CPU benchmark is above 3500.
                • USB headset with noise cancelling, to prevent the sound from
                the ear pad being picked up by the microphone –
                • Sennheiser SC70USB (also called Sennheiser 506504 or
                506502) is our recommendation for best quality headset
                • Sennheiser SC60USB, SC260USB and Jabra Evolve 40 are
                good alternatives
                • Logitech H340 is recommended on a budget
                • Arama is recommended model for Asian market
                • No Bluetooth headsets are allowed.
                • Alternatively a professional USB microphone – Audio Technica
                AT2020USB, Blue Snowball and Blue Yeti are the preferred
                choices.
                • Optional: professional interpreting panel, laptop connected to
                on-site PA system
                • Ethernet cable connection is an absolute must!</p>
            </div>
          </div>
        </li>
    </ul>
  </section>

  <!--Section C-->

  <section id="section-c" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">We handle all of your interpreting needs</h2>
    </div>
  </section>

  <!--Section D-->

  <section id="section-d" class="grid">
    <div class="box">
      <h2 class="content-title">Contact Us</h2>
      <p>INTERPREFY AG</p>
      <p>Stadelhoferstrasse 12</p>
      <p>CH-8001 Zürich</p>
      <p>Switzerland</p>
      <p>sales@interprefy.com+41 44 586 91 86</p>
      <p>INTERPREFY USA</p>
      <p>200 S. Wacker Drive, 31st Floor</p>
      <p>Chicago, IL 60606</p>
      <p>USAusaoffice@interprefy.com+1 877-808-5030</p>
      <p>INTERPREFY JAPAN</p>
      <p>TokyoJapansales@interprefy.com+81 (0) 80 5506 6075</p>
    </div>
    <div class="box">
      <h2 class="content-title">About Our Company</h2>
      <p>Interprefy is a Swiss technology company that provides a cloud-based software platform for remote simultaneous interpreting for meetings, conferences and events.</p>
      <p>Headquarters are located in Zurich, Switzerland. In addition, Interprefy has an office in Chicago, USA, which caters to clients in Northern and Southern America and recently Japan.</p>
    </div>
  </section>
</main>

<!-- Footer -->

<footer id="main-footer" class="grid">
  <div>Interprefy Testing Platform</div>
  <div>Project by <a href="https://interprefy.com/" target="_blank"> Interprefy </a></div>
</footer>
<router-outlet></router-outlet>

