<!--Header-->

<header id="showcase" class="grid">

    <button class="menu" mat-button [matMenuTriggerFor]="menu">
        <img id="userImg" src="assets/user.png">  <span>{{firstName}} {{lastName}}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button class="subMenu" mat-menu-item (click)="logout()">
        <img id="logoutImg"src="assets/logout.png">
        Logout
      </button>
    </mat-menu>
  <div class="bg-image"></div>
  <div class="content-wrap">
    <h1>Welcome to Interprefy platform test for Interpreters!</h1>
    <p>
      Read more about it bellow!
    </p>
    <a (click) = "scroll(sectionA)" class="button">Read More</a>
  </div>
</header>

<!--Body-->

<main id="main">


  <section #sectionB id="sectionB" class="grid">
    <ul>
      <li>
        <div class="card">
          <img
            src="https://images.pexels.com/photos/755416/pexels-photo-755416.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
            alt="">
          <div class="card-content">
            <h3 class="card-title">INTRO</h3>
            <p>
              Interprefy Computer-based learning system is designed to provide interactive
              and hands on experience of our remote interpretation platform. Through
              numerous videos and practical tests you can learn how to use the platform and
              prepare for future events.
              This test will take you through the most important functions on the platform that
              are necessary for delivering a perfect event. Please have in mind that you will
              have only one attempt to complete the test and only one attempt per question.
              This test requires using a laptop   for completion and it requires certain parts of
              your keyboard to answer some of the questions. Once you are ready, select start
              and begin the test.

              </p>
              <p>We wish you good luck!</p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img
            src="https://images.pexels.com/photos/164933/pexels-photo-164933.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="">
          <div class="card-content">
            <h3 class="card-title">Prerequisites for a successful event</h3>
            <p>This section is about hardware requirements for a successful event.</p>
<pre>
• Minimum 2Mbps download and upload per
  language channel
• 8Mbps download is recommended for HD
  quality or if multiple video channels
  are received
• Laptops: Core i5, 4GB RAM, windows 7 or
  higher;
• Recommended CPU benchmark is above 3500.
• USB headset with noise cancelling, to
  prevent the sound from the ear pad being
  picked up by the microphone –
• Sennheiser SC70USB (also called Sennheiser
  506504 or 506502) is our recommendation
  for best quality headset
• Professional USB microphone - Blue Yeti
• Ethernet cable connection is an absolute
  must!
</pre>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!--Section A -->
  <section #sectionA id="section-a" class="grid">
    <div class="content-wrap">
      <!--
      <h2 class="content-title"><a ></a></h2>
      <div class="content-text">
      </div>
      -->
      <a [routerLink]="['/test/question1']" class="button">Start test</a>
    </div>
  </section>

  <!--Section C-->

  <section id="section-c" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">We handle all of your interpreting needs</h2>
    </div>
  </section>

  <!--Section D-->

  <section id="section-d" class="grid">
    <div class="box">
      <h2 class="content-title">Contact Us</h2>
      <pre>
      <span>INTERPREFY AG</span>
      Stadelhoferstrasse 12
      CH-8001 Zürich
      Switzerland
      <a href="mailto:sales@interprefy.com">sales@interprefy.com</a> +41 44 586 91 86
      <span>USA</span>
      200 S. Wacker Drive, 31st Floor
      Chicago, IL 60606
      USA <a href="mailto:usaoffice@interprefy.com">usaoffice@interprefy.com</a> +1 877-808-5030
      <span>JAPAN</span>
      Tokyo,Japan <a href="mailto:sales@interprefy.com">sales@interprefy.com</a> +81 (0) 80 5506 6075</pre>
    </div>
    <div class="box">
      <h2 class="content-title">About Our Company</h2>
      <p>Interprefy is a Swiss technology company that provides a cloud-based software platform for remote simultaneous
        interpreting for meetings, conferences and events.</p>
      <p>Headquarters are located in Zurich, Switzerland. In addition, Interprefy has an office in Chicago, USA, which
        caters to clients in Northern and Southern America and recently Japan.</p>
    </div>
  </section>
</main>

<!-- Footer -->

<footer id="main-footer" class="grid">
  <div>Interprefy Testing Platform</div>
  <div>Project by <a href="https://interprefy.com/" target="_blank"> Interprefy </a></div>
</footer>
<router-outlet></router-outlet>
