#showcase{
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .bg-image{
    position: absolute;
    background-position: center;
    background-image: url('https://www.gala-global.org/sites/default/files/styles/profile_header_image/public/company_header_image/Interprefy_1150.png?itok=wGSms4aG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

#showcase h1{
    padding-top: 150px;
    padding-bottom: 50px;
    font-weight: bold;
}

.content-title a{
    color: #f37c00;
    text-decoration: none;
}
#showcase .content-wrap,
#ssection-a .content-wrap{
    padding: 0 1.5em;

}

#section-a{
    background: #eaeaea;
    color: #333;
    padding-bottom: 1em;
}

#section-b{
    padding: 2em 1em 1em;
}

#section-b ul{
    list-style: none;
    margin:0;
    padding: 0;
}

#section-b li{
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content{
    padding: 1.5em;
}

#section-c{
    background: #fff;
    color: #f37c00;
    font-weight: bold;
    padding: 1em;

}

#section-d .box{
    padding: 2em;
    background: #333;
    color: #fff;
}

#section-d .box:first-child{
    background: #f37c00;

}

#main-footer{
    padding: 1em;
    background: #000;
    color: #fff;

}

#main-footer a{
    color: #f37c00;
    text-decoration: none;
}

@media(min-width: 700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2,minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text{
        columns: 2;
        column-gap: 2em;
    }

    #section-a .content-text p{
        padding-top: 0;
    }

    #section-b ul{
      display: flex;
      justify-content: space-around;
    }

    #section-b li{
      width: 47%;
    }

    .content-wrap,
    #section-b ul,
    #main-footer div{
        grid-column: 2/4;
    }

    .box,
    #main-footer div{
        grid-column: span 2;
    }

}
