<div class="content">

  <div class="div">
    <h3 class="h"><span> 8. </span> Your internet connection suddenly becomes poor during the live event. What is the way to improve connection related to the video?
    </h3>

  </div>&nbsp;
  <div class="container">
    <img src="assets/video.PNG" alt="Snow" style="width:100%">
    <button (click)="setPoints(6)" id="btn1" class="btn" style="overflow-y:hidden">HD</button>
    <button (click)="setPoints(0)" id="btn2" class="btn"><img src="assets/connection.png" alt="no pic"></button>
    <button (click)="setPoints(0)" id="btn3" class="btn" ><img src="assets/full-screen.png" alt="no pic"></button>
    <button (click)="setPoints(6)" id="btn4" class="btn"></button>
  </div>

</div>
